<div class="bg-gray-50 flex flex-col justify-center items-center h-screen">
  <mat-card class="block">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Extra large</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
